@model SignInUserDto;

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_SignLayout.cshtml";
}

<div class="row ht-100v flex-row-reverse no-gutters">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="signup-form">
            <div class="auth-logo text-center mb-5">
                <div class="row">
                    <div class="col-md-2">
                        <img src="/template/assets/images/logo-64x64.png" class="logo-img" alt="Logo">
                    </div>
                    <div class="col-md-10 pt-2">
                        <p>Paylaşım Küresi</p>
                    </div>
                </div>
            </div>
            <form asp-action="Index" asp-controller="SignIn" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Email" placeholder="Email Address">
                            <span asp-validation-for="Email" class="text-danger" style="font-size: small;"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="password" class="form-control" name="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger" style="font-size: small;"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <a href="forgot-password.html">Şifremi unuttum</a>
                    </div>
                    <div class="col-md-6">
                        <label class="custom-control material-checkbox">
                            <input type="checkbox" class="material-control-input">
                            <span class="material-control-indicator"></span>
                            <span class="material-control-description">Beni Hatırla</span>
                        </label>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary sign-up">Giriş Yap</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <span asp-validation-for="ErrorMessage" class="text-danger" style="font-size: small;"></span>
                    </div>
                    <div class="col-md-12 text-center mt-5">
                        <span class="go-login">Üye değil misin? <a href="/SignUp/">Kayıt Ol</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6 auth-bg-image d-flex justify-content-center align-items-center">
        <div class="auth-left-content mt-5 mb-5 text-center">
            <div class="weather-small text-white">
                <p class="current-weather"><i class='bx bx-sun'></i> <span>14&deg;</span></p>
                <p class="weather-city">Gyumri</p>
            </div>
            <div class="text-white mt-5 mb-5">
                <h2 class="create-account mb-3">Welcome Back</h2>
                <p>Thank you for joining. Updates and new features are released daily.</p>
            </div>
            <div class="auth-quick-links">
                <a href="#" class="btn btn-outline-primary">Purchase template</a>
            </div>
        </div>
    </div>
</div>