@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 second-section" id="page-content-wrapper">
    @await Component.InvokeAsync("_PostComposerBox")

    @await Component.InvokeAsync("_PostFlow")
</div>
