@{
    Layout = null;
}

<!doctype html>
<html>

@await Html.PartialAsync("/Views/LayoutPartial/_HeadPartial.cshtml")

<body>
    @await Component.InvokeAsync("_Navbar")

    <div class="row newsfeed-right-side-content mt-3">
        @await Component.InvokeAsync("_Sidebar")
        @RenderBody()
    </div>


    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")
</body>

</html>
