<ul class="list-unstyled" style="margin-bottom: 0;">
    <li class="media post-form w-shadow">
        <div class="media-body">
            @using (Html.BeginForm("CreatePost", "Home", FormMethod.Post, new { id = "frmPst" }))
            {
                <div class="form-group post-input">
                    <input type="hidden" id="communityId" name="CommunityId" value="" />
                    <textarea class="form-control" id="postForm" name="Content" rows="2"
                        placeholder="Ne düşünüyorsun..."></textarea>
                </div>
                <div class="row post-form-group">
                    <div class="col-md-9">
                        @* <button type="button" class="btn btn-link post-form-btn btn-sm">
                            <i class='bx bx-images'></i> <span>Fotoğraf/Video</span>
                        </button>
                        <button type="button" class="btn btn-link post-form-btn btn-sm">
                            <i class='bx bxs-group'></i> <span>Arkadaşını Etiketle</span>
                        </button>
                        <button type="button" class="btn btn-link post-form-btn btn-sm">
                            <i class='bx bxs-map'></i> <span>Konum Ekle</span>
                        </button> *@
                    </div>
                    <div class="col-md-3 text-right">
                        <button type="submit" class="btn btn-primary btn">Yayınla</button>
                    </div>
                </div>
            }
        </div>
    </li>
</ul>

<script>
    $(document).ready(function () {
        function getQueryParam(name) {
            let url = window.location.href;
            let urlObj = new URL(url);
            let params = new URLSearchParams(urlObj.search);
            return params.get(name);
        }

        $("#frmPst").submit(function (event) {
            let selectedId = getQueryParam('id');
            $("#communityId").val(selectedId);
        });
    });
</script>