@model GetUserDto;

<nav id="navbar-main" class="navbar navbar-expand-lg shadow-sm sticky-top">
    <ul class="navbar-nav mr-5" id="main_menu">
        <a class="navbar-brand nav-item mr-lg-5" href="/Home/Index"><img src="/template/assets/images/logo-64x64.png"
                width="40" height="40" class="mr-3" alt="Logo"></a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <form class="w-30 mx-2 my-auto d-inline form-inline mr-5">
            <div class="input-group">
                <input type="text" class="form-control search-input w-75"
                    placeholder="Kişileri, toplulukları, gönderileri ve daha fazlasını arayın..." aria-label="Search"
                    aria-describedby="search-addon">
                <div class="input-group-append">
                    <button class="btn search-button" type="button"><i class='bx bx-search'></i></button>
                </div>
            </div>
        </form>

        <form class="w-25 mx-2 my-auto d-inline form-inline mr-5">
            <div class="input-group">
                <select class="form-control w-30 communitiesDropdown" id="communitiesDropdownId" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px; background-color: #e8e8e8;
                        border-top-right-radius: 20px; border-bottom-right-radius: 20px; font-size: .8em;
                        border: 1px solid #ccc;">
                </select>
            </div>
        </form>
        <li class="nav-item btn-group d-mobile">
            <a href="#" class="nav-link nav-icon nav-links" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-plus"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right nav-dropdown-menu">
                <a href="#" class="dropdown-item" aria-describedby="createGroup">
                    <div class="row">
                        <div class="col-md-2">
                            <i class='bx bx-group post-option-icon'></i>
                        </div>
                        <div class="col-md-10">
                            <span class="fs-9">Group</span>
                            <small id="createGroup" class="form-text text-muted">Find people with shared
                                interests</small>
                        </div>
                    </div>
                </a>
                <a href="#" class="dropdown-item" aria-describedby="createEvent">
                    <div class="row">
                        <div class="col-md-2">
                            <i class='bx bx-calendar post-option-icon'></i>
                        </div>
                        <div class="col-md-10">
                            <span class="fs-9">Event</span>
                            <small id="createEvent" class="form-text text-muted">bring people together with a public or
                                private event</small>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="nav-item dropdown message-drop-li">
            <a href="#" class="nav-link nav-links message-drop" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">
                <i class='bx bxs-message-rounded message-dropdown'></i>
            </a>
            <ul class="dropdown-menu notify-drop dropdown-menu-right nav-drop">
                <div class="notify-drop-title">
                    <div class="fs-8">Mesajlar </div>
                </div>
                <!-- end notify title -->
                <!-- notify content -->
                <div class="drop-content">

                </div>
                <div class="notify-drop-footer text-center">
                    <a href="/Message/">Daha fazlasını gör</a>
                </div>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link nav-links" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                <div class="menu-user-image">
                    <img src="@Model.ProfilePictureUrl" class="menu-user-img ml-1" alt="Menu Image">
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right nav-drop">
                <a class="dropdown-item" href="/Profile/Index/@Model.Id"><i class='bx bx-user mr-2'></i> Hesap</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="/SignIn/LogOut"><i class='bx bx-undo mr-2'></i> Çıkış yap</a>
            </div>
        </li>
        <li class="nav-item nav-icon">
            <a href="settings.html" class="nav-link"><i class="bx bx-cog"></i></a>
        </li>
    </ul>
    <button type="button" class="btn btn-primary mr-3" id="menu-toggle"><i class='bx bx-align-left'></i></button>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function getQueryParam(name) {
            let url = window.location.href;
            let urlObj = new URL(url);
            let params = new URLSearchParams(urlObj.search);
            return params.get(name);
        }

        function getMessage() {
            $.ajax({
                contentType: "application/json",
                url: "/Message/GetMessage",
                type: "get",
                success: function (response) {
                    var senders = response["mappedDmsSender"];
                    var dms = response["dms"];
                    console.log("GetMessage requeset return success with : ", response);
                    for (var i = 0; i < dms.length; i++) {
                        var msgHtml = '<li>' +
                            '<div class="col-md-3 col-sm-3 col-xs-3">' +
                            '<div class="notify-img">' +
                            '<img src="' + senders[i]["profilePictureUrl"] + '" alt="notification user image">' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-md-9 col-sm-9 col-xs-9 pd-9">' +
                            '<a href="#" class="notification-user">' + senders[i]["firstName"] + ' ' + senders[i]["lastName"] + '</a>' +
                            '<a href="#" class="notify-right-icon">' +
                            '<i class="bx bx-radio-circle-marked"></i>' +
                            '</a>' +
                            '<p class="time">' +
                            '<i class="bx bx-check"></i>' + dms[i]["content"] +
                            '</p>' +
                            '</div>' +
                            '</li>';
                        $('.drop-content').append(msgHtml);
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error is ", error);
                }
            });
        }

        $('.message-drop').on('click', function (event) {
            event.preventDefault();
            $('.drop-content').html('');
            getMessage();
        });

        $(document).on("focus", ".communitiesDropdown", function (event) {
            $.ajax({
                contentType: "application/json",
                method: "get",
                url: "/Community/GetAllParticipatedCommunities",
                success: function (response) {
                    var data = response["participatedCommunities"];
                    $('#communitiesDropdownId').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var dataHtml = '<option value="' + data[i]["id"] + '">' + data[i]["name"] + '</option>'
                            $('#communitiesDropdownId').append(dataHtml);
                        }

                        let selectedId = getQueryParam('id');
                        console.log(selectedId);
                        $('#communitiesDropdownId').val(selectedId);
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error is", xhr.responseText);
                }
            });
        });

        $(document).on("change", ".communitiesDropdown", function (event) {
            var selectedid = $(this).val();
            window.location.href = "http://localhost:5284/Home/Index?id=" + selectedid;
        });


    });
</script>
