@model GetUserDto

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_ProfileLayout.cshtml";
    var authUser = ViewBag.AuthUser as GetUserDto;
}

<div class="row profile-right-side-content">
    <div class="user-profile">
        <div class="row profile-rows">
            @await Component.InvokeAsync("_ProfileSidebar", new { user = Model })
            <div class="col-md-9 p-0">
                <div class="profile-info-right">
                    <!-- Posts section -->
                    <div class="row">
                        <div class="col-md-9 profile-center">
                            <ul class="list-inline profile-links d-flex justify-content-between w-shadow rounded">
                                <li class="list-inline-item profile-active">
                                    <a href="#">Gönderiler</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/Profile/Following/@Model.Id">Arkadaşlar</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/Profile/Communities/@Model.Id">Topluluklar</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/Profile/LikedPosts/@Model.Id">Beğeniler</a>
                                </li>
                            </ul>

                            @{
                                if (authUser.Id == Model.Id)
                                {
                                    @await Component.InvokeAsync("_PostComposerBox")
                                }
                            }

                            @await Component.InvokeAsync("_PostFlow", new { userId = @Model.Id })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- New message modal -->
<div class="modal fade" id="msgModel" tabindex="-1" role="dialog" aria-labelledby="msgModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header new-msg-header">
                <h5 class="modal-title" id="newMessageModalLabel">Yeni sohbet başlat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body new-msg-body">
                <form action="" method="" class="new-msg-form">
                    <div class="form-group">
                        <input type="hidden" value="Send" name="Status">
                        <input type="hidden" value=@Model.UserName name="ReceiverUserName">
                        <label for="message-text" class="col-form-label">Mesaj:</label>
                        <textarea class="form-control search-input" rows="5" id="message-text" name="Content"
                            placeholder="Bir mesaj yazın..."></textarea>
                    </div>
                    <div class="modal-footer new-msg-footer" style="display: flex; justify-content: space-between">
                        <span id="errorMessage" style="display: inline-block;"></span>
                        <button type="submit" class="btn btn-primary btn-sm" id="sendMessageBtn">Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>